/* whole css start */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* whole css end */


/* container css start*/
.container {
    padding: 20px;
    margin: 0px auto;
    width: 1000px;
}
/* container css end */


/* displayFlex css start */
.displayFlex {
    display: flex;
}
/* displayFlex css end */


/* header css start*/
header {
    background-color: rgb(26, 26, 26);
}
.logo {
    width: 60px; 
    vertical-align: middle;
}
/* header css end */


/* nav css stard */
nav{
    background-color: rgb(131, 0, 5);
}
ul {
    display: flex;
}
li {
    list-style-type: none;
    margin: 0px 10px 0px 10px;
    padding: 0px 10px 0px 10px;
    color: white;
    display: inline-block;
}
li:hover {
    background-color: white;
    color: rgb(131, 0, 5);
    cursor: pointer;
}
/* nav css end */


/* main css start */
main {
    background-color: #dadada;
    padding-top: 50px;
    padding-bottom: 50px;
}
.left {
    width: 50%;
    margin-right: 50px;
}
.left h1 {
    margin-bottom: 20px;
}
.right  {
    width: 50%;
}
.right img {
    width: 100%;
    border: 5px solid white;
    box-shadow: 5px 5px 5px grey;
}
.clear {
    clear: both;
}
.btn {
    display: flex;
    justify-content: flex-end;
}
.readButton {
    display: inline-block;
    height: 50px;
    width: 150px;
    line-height: 50px;
    margin-top: 20px;
    text-align: center;
    position: relative;
    right: 0px;
    background-color: rgb(26, 26, 26);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
/* main css end */


/* #flexarea css start */
#flexarea {
    background-color: rgb(131, 0, 5);
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

#flexarea h1 {
    margin-bottom: 40px;
    display: block;
}
.content {
    width: 25%;
    margin-right: 50px;
    padding-right: 50px;
    border-right: 2px solid white;
}
.lastContent {
    border: none;
    margin-right: -50px;
}
.description {
    font-weight: bold;
    padding: 10px;
}

.content img {
    width: 100%;
    border: 5px solid white;
    box-shadow: 5px 5px 5px black;
}
/* #flexarea end */

/* footer css start */
footer {
    background-color: rgb(26, 26, 26);
    color: white;
    text-align: center;
    padding: 10px;
}
/* footer css end */